<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Build Splendid Models with OpenSCAD</h1>
  <h3>The Programmer's Solid 3D CAD Modeller</h3>
  <p>
  OpenSCADpm is a package manager for OpenSCAD. Find irresistible packages and use them for creating solid 3D CAD objects.
  </p>
  <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= image_tag("OpenSCAD-logo.png", :alt => "OpenSCAD logo") %>
