<footer class="footer">
  <small>
    The <a href="http://www.openscad.org/">OpenSCAD Website</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "OpenSCADpm", openscadpm_path %></li>
      <li><%= link_to "Support", support_path %></li>
      <li><a href="http://www.openscad.org/documentation.html">Learn OpenSCAD</a></li>
    </ul>
  </nav>
</footer>
